table th {
  background-color: #fb635b;
  padding: 10px 20px;
}

table td {
  background-color: #f9d5d5;
  padding: 10px 20px;
  text-align: center;
}

.notice {
  background-color: #ccf;
  padding: 5px;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}
